---
extends: default

ignore:
  # Ignore files from webapp which are included over git submodule
  - 'data/webapp/'

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'
  - '*.yml.example'

rules:
  empty-lines:
    level: warning
  line-length:
    max: 235
