services:
  mediathekview:
    image: "wydler/mediathekview:latest"
    container_name: "mediathekview"
    restart: "unless-stopped"

    ports:
      - 5800:5800 # access via webbrowser
      - 5900:5900 # access via VNC

    environment:
      TZ: "Europe/Berlin"

      USER_ID: "1000"
      GROUP_ID: "1000"

      VNC_PASSWORD: "${VNC_PASSWORD}"
      CLEAN_TMP_DIR: "${CLEAN_TMP_DIR}"
      JAVAFX_GLX_DISABLE: "${JAVAFX_GLX_DISABLE}"
      ENABLE_CJK_FONT: "${ENABLE_CJK_FONT}"

    volumes:
      - "./mediathekview/config:/config:rw"
      - "./mediathekview/output:/output:rw"

      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      
    networks:
      - mediathekview-network


networks:
    mediathekview-network:
      driver: bridge
