<IfModule mod_headers.c>
        # The X-Frame-Options HTTP response header can be used to indicate whether
        # or not a browser should be allowed to render a page in a <frame>, <iframe> or <object> .
        Header always set X-Frame-Options SAMEORIGIN

        # Content Security Policy (CSP) prevent cross-site scripting (XSS), clickjacking and other code injection attacks resulting from execution of malicious content in the trusted web page context.
        Header set Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src data:; connect-src 'self'"
        Header set X-Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src data:; connect-src 'self'"
        Header set X-WebKit-CSP "default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src data:; connect-src 'self'"

        # The Set-Cookie HTTP response header is used to send a cookie from the server to the user agent, so that the user agent can send it back to the server later. 
	Header always edit Set-Cookie (.*) "$1; HTTPOnly; Secure; SameSite=Strict"

        # The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin.
	Header set Access-Control-Allow-Origin "none"

        # The X-Content-Type-Options header with the value nosniff ensures that user agents do not attempt to guess the format of the data being received.
	Header set X-Content-Type-Options "nosniff"

        # Stop page from loading when they detected reflected cross-site scripting (XSS) attacks.
	Header set X-XSS-Protection "1; mode=block"

        # Permissions Policy provides mechanisms for web developers to explicitly declare what functionality can and cannot be used on a website. You define a set of "policies" that restrict what APIs the site's code can access or modify the browser's default behavior for certain features.
        Header set Permissions-Policy "accelerometer=(), autoplay=(), camera=(), cross-origin-isolated=(), display-capture=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=()"

        # The HTTP Strict-Transport-Security response header (often abbreviated as HSTS) informs browsers that the site should only be accessed using HTTPS, and that any future attempts to access it using HTTP should automatically be converted to HTTPS.
	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS

        # The Referrer-Policy HTTP header controls how much referrer information (sent with the Referer header) should be included with requests. Aside from the HTTP header.
	Header always set Referrer-Policy "same-origin"
</IfModule>

# Disable directory indexing
Options -Indexes

# Deny access to LookingGlass subdirectory
# Overkill, but used for development (dev folder = /LookingGlass)
RedirectMatch 404 /LookingGlass/(.*\.(?:conf|db|sh)|(?:Config|LookingGlass|RateLimit)\.php)$

# Deny access to hidden files/folders
RedirectMatch 404 /\.

# Disable gzip for test files
SetEnvIf Request_URI \.bin$ no-gzip dont-vary